body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #eef5ff, #ffffff);
}

/* HEADER */
header {
    background: #2f6edb;
    color: white;
    padding: 20px;
    text-align: center;
}

/* CONTAINER */
.container {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

/* TÍTULOS */
h2 {
    color: #2f6edb;
}

h3 {
    margin-top: 20px;
    color: #444;
}

/* CARDS */
.card {
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* BOTÕES */
button {
    background: #2f6edb;
    border-radius: 20px;
}

/* SUAVIDADE */
section {
    margin-bottom: 30px;
}
